@using Core.Application.ViewModels.Client;
@model SaveClientViewModel
@{
    ViewData["Title"] = "Clientes";
    List<ClientViewModel> clints = ViewBag.Clients;
    int i = 1;
}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                

 

<div class="container-fluid myContainerBody">
    <div class="col-12">
        <div class="HorizonNavBar">
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>John Doe</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-action="LogOut" asp-controller="User">Cerrar Session</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-3 offset-9 add-new-container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewClient">
              Agregar Nuevo
        </button>
    </div>
    <div class="col-12 table-container">
         <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Nombre</th>
                     <th scope="col">Cedula</th>
                     <th scope="col">Tel</th>
                     <th scope="col">Deuda</th>
                     <th scope="col">Detalle</th>
                     <th scope="col">Operacion</th>
                  </tr>
              </thead>
              <tbody>
                @foreach (var item in clints)
                {
                    <tr>
                        <th scope="row" style="color: lightslategray;">@i</th>
                        <td>@item.FullName</td>
                        <td>@item.IdCard</td>
                        <td>@item.Tel</td>
                        <td>@item.Owed</td>
                        <td><a asp-action="" asp-controller="">Ver</a></td>
                        <td>
                            <a asp-action="UpdateClient" class="btn btn-outline-primary" asp-route-id="@item.Id" asp-controller="Admin">Editar</a>  <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#card-@item.Id">
                                Eliminar
                            </button>
                        </td>
                        
                    </tr>

                    i++;
                }
            </tbody>
         </table>
    </div>
 </div>


<div class="modal fade" id="addNewClient" tabindex="-1" role="dialog" aria-labelledby="addNewClientTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewClientTitle">@(Model.Id == 0 ? "Agregando Cliente" : "Editando Cliente")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="@(Model.Id == 0 ? "Client" : "UpdateClient")" asp-controller="Admin">
                    <div class="input-group mb-3">
                         <span class="input-group-text" id="basic-addon1">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                              </svg>
                         </span>
                        <input class="form-control" asp-for="FullName" placeholder="Nombre" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                            </svg>
                        </span>
                        <input class="form-control" asp-for="Tel" placeholder="Tel" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </span>
                        <input class="form-control" asp-for="IdCard" placeholder="Cedula" />
                    </div>

                    @if(Model.Id != 0){
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                    <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </span>
                            <input class="form-control" asp-for="Owed" placeholder="Debe" />
                        </div>
                    }
                  

                    <input asp-for="Owed" type="number" value="0.00" hidden />

                    <div class="modal-footer" align="center">
                        @if(Model.Id == 0)
                        {
                            <button type="submit" class="btn btn-dark">Agregar Cliente</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-dark">Guardar Cambios</button>

                        }

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    if (@Model.Id != 0) {
        $(document).ready(function () {
            $("#addNewClient").modal('show');
        });
    }
</script>

@foreach(var item in clints){
    <div class="modal fade" id="card-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-text">¿Estás seguro que deseas eliminar a <b>@item.FullName</b> de la lista de clientes?</h4>
                </div>
                <div class="modal-footer confirmationDialog">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
                    <a asp-action="DeleteClient" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-dark">Si</a>
                </div>
            </div>
        </div>
    </div>
}